/*store template css*/
html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #EEEEEE;
    font-family: 'Lato', sans-serif;
}

footer {
    background-color: #E0E0E0;
    margin-top: 128px;
    height: 128px;
}
footer p {
    padding:10px;
}

/*Home Page*/
header.home {
    background: url(../img/cover_optimized.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:auto;
}
@media only screen and (min-width : 768px) {
    header.home {
        height: 500px;
    }
}

.changeLogWrapper{
    background:white;
}
.versionFooter{
    border-bottom : solid 1px black;
}
header nav {
    margin:10px
}
header h3 {
    display: none;
}

a.register-link {
    float: right;
    margin-right: 0;
    height: 36px;
    line-height: 25px;
    padding: 0 18px;
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .3);
}

a.register-link:hover {
    background-color: transparent !important;
    color:#fff !important;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .3) !important;
}

.navLink:hover{
    color:black!important;
}

.jumbotron {
    background-color: transparent !important;
    color:#ffffff !important;
}

.jumbotron h1 {
    font-weight: 400 !important;
    text-shadow: 2px 2px 2px rgba(74, 74, 74, 0.8) !important;
}

.jumbotron a, .jumbotron a:hover{
    background-color: transparent;
    color:#ffffff !important;
    font-weight: 400;
    text-shadow: 2px 2px 2px rgba(74, 74, 74, 0.8);
    text-decoration: none !important;
}

#search i {
    color: #A1A1A1;
    font-size: 22px;
    cursor: pointer;
}

#search .form-control {
    border:0;
    -webkit-box-shadow:inset 0 0 0 rgba(0,0,0,.075);
    box-shadow:inset 0 0 0 rgba(0,0,0,.075);
    font-size:22px
}
.navbar-default .navbar-nav>li>a.dropdown-toggle {
    font-size: 22px;
    color: #a1a1a1;
    padding-top: 24px;
}

.filter-reset-button{
    position: relative;
    top: 10px;
}

/*Buttons*/
.btn-primary {
    background-color: #00A0E3;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing:1px;
    border-radius: 3px;
    border-width: 0;
}

.btn-file{
    margin-left: 20px !important;
}

#howToInstallButton{
    margin-right:20px;
}

#permissionsButton{
    margin-right:20px;
}

.navbar-default {
    background-color: #ffffff;
}

/*Module list*/
.media {
    background-color: #FFFFFF;
    height: 180px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
    margin-bottom:20px;
}

.media .media-left img {
    max-width:180px;
    margin-top: 27px;
}

.media-left {
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.media-body {
    position: relative;
    height: 170px;
}
.media-body.content {
    padding: 25px 45px;
    line-height: 27px;
    font-size: 18px;
    font-weight: 400;
    color: #777;
}

.media-body.content h4 {
    color: #212121;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 25px;
}
.media-body .author {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #616161;
}

.media-body .rating {
    color: #737373;
    font-size: 22px;
}
.rating-container .empty-stars{
    color:white !important;
}

.clear-rating{
    display:none;
}

.caption .label{
    display:none;
}

.label {
    border-radius:50px;
    text-transform: uppercase;
}

h3.media-heading {
    color: #212121;
    font-size: 30px;
    font-weight: 300;
}



.affix {
    top: 0;
    width: 100%;
    z-index:999;
}

.affix + header {
    padding-top: 500px;
}


nav ul.pull-right{
    margin-right: 24px;
}

.loginButton{
    background: rgba(255, 255, 255, 0.8) !important;
    color:black;
}


/*Detail View*/
.detail .media {
    height: auto;
}

.forge .media:hover {
    opacity: .8;
    cursor: pointer;
}

#descriptionDiv{
    margin:0 15px;
}

.modal .original_text{
    padding:20px;
}

.modal .modal-title{
    padding:20px;
}

#content.detail {
    margin-top:-100px;
}

.media-full-width{
    width: 100% !important;
    padding: 10px !important;
    margin: 0px!important;
    min-height: unset!important;
}

.dwl {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 3px;
    border-width: 0;
}

.forge{
    margin-top : 20px;
}
.moduleCard .media-left{
    padding-left: 10px;
}
.detail .media-left{
    margin: 27px;
    display: inline-block;
    max-width: 13%;
    max-height:125px;
    width: 13%;
}

.detail .media-body{
    display: inline-block;
    width: 80%;
    height:auto;
}

.detail a.back-link {
    color: #fff;
    height: 74px;
    width: 311px;
    position: absolute;
    padding: 4px 23px;
    top: -21px;
    left: -10px;
    border-radius: 0;
}

.detail a.back-link:hover{
    background-color:#337ab7;
}

.detail a.back-link:visited, .detail a.back-link:active{
    background-color:transparent;
}

.page-title {
    padding-left: 14px;
    padding-right: 14px;
}

.detail .media-body.content{
    width:100%;
    height:auto;
}

.detail .media-body.heading{
    min-height: 230px;
    margin-top: 27px;
    padding:0 0 0 15px;
}

.detail .media-body.heading .rating{
    margin-bottom: 5px;
}

.detailButton{
    height: 100%;
    overflow: hidden;
    background: transparent;
    color: #777;
    border-color: #777;
}

.detailButton:hover{
    height: 100%;
    overflow: hidden;
    background: transparent;
    color: #777;
    border-color: #777;
}

.detailButton:focus{
    height: 100%;
    overflow: hidden;
    background: transparent;
    color: #777;
    border-color: #777;
}

header.detail{
    z-index: 24;
    background-image: none;
    background-color: #00A0E3;
    font-size: 24px;
    line-height: 64px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    box-shadow: none;
    height:64px;
}

.top-color-sep {
    background-color: #00A0E3;
    width: 100%;
    height: 192px;
}

.carousel{
    margin-top: 15px;
}

.carousel-indicators{
    z-index:22;
}

.carousel-inner{
    z-index:21;
}

.carousel-link{
    height:225px;
}

.carousel-control{
    background: none!important;
    border: none!important;
    color: black;
    font-weight: bold;
    padding-top: 5.5%;
    font-size: 120px;
    font-weight:bold;
    z-index: 26;
}


.button {
    position: relative;
    display: inline-block;
    padding: 0 24px;
    height: 38px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 38px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    cursor: pointer;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.buttonBlue {
    background: #00A0E3;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.detail .media:first-child {
    margin-top: 30px;
}


.details .openb {
    float: right;
    margin: 14px;
    padding: 0 18px;
    background: #FFFFFF !important;
    height: 36px;
    line-height: 36px;
    color: #00A0E3;
    text-shadow: none;
    box-shadow: none !important;
}


.navbar-nav>li>a.detailLoginBtn{
    float: right;
    margin: 3px 14px 0px 0px;
    padding: 0 18px;
    background: #FFFFFF !important;
    height: 36px;
    line-height: 36px;
    color: #00A0E3;
    text-shadow: none;
    box-shadow: none !important;
    text-transform: uppercase;
    font-weight: bold;
}


/*Information and editable texts*/

.select2-search-choice-close{
    font-size: 14px !important;
    top: 2px !important;
}




/*Modals Styles*/
.modal{
    height:80%!important;
}
.modal-dialog{
    background-color:#fff;
}

.modal-body{
    overflow-y:auto;
}

.modal-content{
    border: none;
    min-height: 100px;
    box-shadow: 0 0 0 white;
}

/*Video*/
.forgeModuleVideo{
    max-height: 609px;
    padding-top: 200px;
}

.videostreaming img {
    width:100%;
    height:auto;
}

a.video {
    float: left;
    position: relative;
}
a.video span {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../img/play-btn.png") no-repeat;
    background-position: 50% 50%;
    background-size: 300%;
}
@media screen and (max-width: 480px) {
    a.video span {
        background-size: 400%;
    }
    .forgeModuleVideo{
        padding-top: 0;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-width: 0;
        padding: 5px 10px 0 10px;
    }
    .search-query {
        border-color: #ddd;
    }
    .navbar-default .navbar-nav>li>a.dropdown-toggle {
        padding-top:0;
    }
}

/*Icon*/
.icon_overlay{
    top: -135px;
    position: relative;
    display:none;
}


/*Reviews styles*/
.review-container .total-rev .tot-title {
    font-size: 38px;
    color: #333;
    /*font-weight: 400;*/
}

.review-container .total-rev {
    padding: 25px 45px;
    text-align: center;
}

.review-container .total-rev .tot-title {
    font-size: 38px;
    color: #333;
    /*font-weight: 400;*/
}

.review-container .total-rev .tot-stars {
    font-size: 28px;
    color: #FFE400;
    margin-bottom: 5px;
}

.review-container .reviews-stats {
    color: #777;
    /*font-weight: 700;*/
    font-size: 14px;
}

.reviewers-small {
    background-image: url(data:data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAaUlEQVQoz2P4//8/AyWYYXAZAAPl5eUCQLwBiP9DMYgtQIoBC5A0w/ACUgw4gMWAA3Q1IACLAQFEGwA1xACIG6DYACRGqgEOyJgoA6C2bsDifOToNMBnwAc8mmH4Az4D/hODaZeUB8QAAOCAkSuam/byAAAAAElFTkSuQmCC);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    position: relative;
    top: 3px;
    width: 16px;
    margin-left: 2px;
}

.write-review-button-icon{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAcElEQVQY063OwQ3AIAhAUUbqSG7x13AERuwG9FITYlCx1oSb/4GYmZyM/AasHqCAASoiewBQ3riNpgGgApe7wABLAS66O2R9Qb/RIUXEdREQxG1q+zMEJrH6JSGQjUNgJx4B6TgLDOMMMI1D4OscAw/doO0neGauvwAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    margin-top: 4px;
    margin-right: 10px;
    vertical-align: top;
    width: 16px;
}

.review-modal .modal-content{
    overflow-y:auto;
}
.review-modal .modal-header{
    background-color: #00A0E3;
    color: #fff;
    line-height: 120px;
    font-size: 36px;
    text-align: center;
    letter-spacing: 6px;
}

.review-modal .rating-lg{
    margin-top:44px;
}

.review-modal .rating-container .filled-stars{
    -webkit-text-stroke: 0 #fff;
}

.login-modal input, .review-modal-form input, .rev-modal-form textarea {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: transparent;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #cdcdcd;
}

.detail .modal .rating-container{
    padding-top: 45px;
}

.detail #review-modal .modal-dialog{
    max-width: 600px;
    height: 600px;
}

.review-modal .label, .review-modal-form .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}

.review-modal img{
    margin-bottom: 15px;
}


.review-modal button{
    margin-top: 30px;
}

.review-modal .group, .review-modal-form .group {
    position: relative;
    margin-bottom: 45px;
    line-height: normal;
}

.review-modal input, .review-modal-form input, .review-modal-form textarea {
    outline:0;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: transparent;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #cdcdcd;
}


/*FAQ Styles*/
.faqDialog, .howToInstallDialog{
    overflow-y: scroll;
    /*height: 80%;
    width: 60%;*/
}

#faq_editor, #howToInstall_editor{
    height:80%;
}

#review-modal{
    height:90%!important;
}
#faqModal .modal-content, #howToInstallModal .modal-content{
    height: 100%;
}

#faqDiv, .howToInstallDiv, #faqDiv .editable_text, #howToInstallDiv .editable_text, #faqDiv #cke_FAQ_editor, #howToInstallDiv #cke_howToInstall_editor, #faqDiv .cke_inner, #howToInstallDiv .cke_inner{
    height:97%;
    border:none;
    box-shadow: 0 0 0 white;
}

#faqDiv #cke_2_contents, #howToInstallDiv #cke_3_contents{
    height:74% !important;
}

.emptyText{
    margin-top: 25%;
    margin-left: 40%;
}

.ckButtonsDiv{
    margin-left: 43%;
}

/* Underline */


.review-modal .bar {
    position: relative;
    display: block;
    width: 100%;
}

.review-modal-form .bar:before,
.review-modal-form .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #00A0E3;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.review-modal-form .bar:before {
    left: 50%;
}

.review-modal-form .bar:after {
    right: 50%;
}

/*Reviews*/
.review-coments-cont {
    padding: 25px 45px;
}
.review-coments-cont .ac-review {
    width: calc(50% - 72px);
    display: inline-block;
    /*margin-right: 10px;
    margin-left: 10px;*/
    margin-bottom: 20px;
    padding: 25px;
}

.review-coments-cont .ac-review img {
    width: 70px;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: #eee;
    -webkit-box-shadow: 0 1px 1px #8d8d8d;
    box-shadow: 0 1px 1px #8d8d8d;
}

.reviewsAlert{
    margin-top:60px;
}

.userAvatar{
    height:16px;
}

.changeLogDialog{
    /*width: 80%;*/
    height: auto;
    overflow: auto;
}

.moduleVersionHeader .pull-right{
    position:relative;
    top: 15px;
}

#changeLogModal iframe{
    width: 100%;
    height: 800px;
    border:none;
}

.permissionsDialog{
    width: 80%;
    height: auto;
    overflow: auto;
}

#permissionsModal iframe{
    width: 100%;
    height: 800px;
    border:none;
}

.versionUploadContainer{
    margin-top: 20px;
}

.editPicturesDialog{
    height: 100%;
    width: 80%;
}

.editPicturesDialog .modal-content, .editPicturesDialog .modal-body{
    height:auto;
    overflow-y:auto;
}

.ac-com-right {
    float: right;
    width: calc(100% - 95px);
}


.ac-com-right .com-name {
    display: inline-block;
    padding-right: 10px;
}

.ac-com-right span {
    font-size: 12px;
    color: #777;
    font-weight: 700;
}

.ac-com-right .com-stars {
    color: #484848;
    padding-bottom: 10px;
}

.ac-com-right .com-title {
    font-weight: 700;
    font-size: 16px;
    color: #333;
}

.ac-com-right .ac-comtxt {
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    color: #777;
    padding-top: 5px;
}

.info-cont-sec {
    font-family: 'Lato', sans-serif;
    line-height: normal;
    min-height: 1000px;
    margin: 0 auto;
    background-color: white;
    border-radius: 3px;
    max-width: 1040px;
    margin-bottom: 100px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: -3px;
    padding-bottom: 50px;
    position: relative;
}

.versionFooter{
    background:none;
    height:auto;
    margin-top:5px;
}

/*More info styles*/
.more-info-container {
    padding: 25px 45px;
}

.meta-info {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 15px 10px 0;
    text-align: left;
    vertical-align: top;
    width: 200px;
    font-family: 'Lato',sans-serif !important;
}

.meta-info.large{
    width: 300px;
}

.meta-info .submit-buttons{
    margin-top:10px;
}

.meta-info .title {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}

h6.title{
    color: #333;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}

.meta-info .content {
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    color: #777;
}

#moduleForgeAdminPanel{
    margin-top:30px;
}

#fullScreenCheckbox{
    margin-left:20px;
}

.forgeSettings{
    margin-top: 60px;
}

.modal-header {
    background-color: #00a0e3;
    color: #fff;
    line-height: 120px;
    font-size: 36px;
    text-align: center;
    letter-spacing: 6px;
}

.select2-container-multi{
    width:160px !important;
}

/*Pictures Edition Style*/
.pictureCarousel{
    width: auto;
    height: 225px;
    max-height: 225px;
    text-align:center;
}

.pictureCarousel img{
    width: auto;
    height: 225px;
    max-height: 225px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.file_upload iframe, .file_upload button {
    display: inline;
}

.placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}
.grid {
    margin-top: 1em;
}

.moduleScreenshot{
    height:150px;
}

.remove-screenshot:hover{
    text-decoration:none;
}

.fileinput-upload-button{
    margin-right:10px;
}

.file_upload .input-group .form-control{
    width:98%;
}

/*Edit video Styles*/
.videoForm .checkbox{
    margin-left: 19px;
}

#editPicturesButton{
    margin-left: 10px;
}

/*Jeremy Styles */

/* Label */

.login-modal .label,
#reviewForm .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}


/* active */

.login-modal input:focus ~ .label,
.login-modal input.used ~ .label,
#reviewForm input:focus ~ .label,
#reviewForm input.used ~ .label,
#reviewForm textarea:focus ~ .label,
#reviewForm textarea.used ~ .label {
    top: -20px;
    transform: scale(.75);
    left: -4px;
    color: #00A0E3;
}


/* Underline */

.login-modal .bar,
#reviewForm .bar {
    position: relative;
    display: block;
    width: 100%;
}

.login-modal .bar:before,
.login-modal .bar:after,
#reviewForm .bar:before,
#reviewForm .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #00A0E3;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.login-modal .bar:before,
#reviewForm .bar:before {
    left: 50%;
}

.login-modal .bar:after,
#reviewForm .bar:after {
    right: 50%;
}


/* active */

.login-modal input:focus ~ .bar:before,
.login-modal input:focus ~ .bar:after,
.rev-modal-form input:focus ~ .bar:before,
.rev-modal-form input:focus ~ .bar:after,
.rev-modal-form textarea:focus ~ .bar:before,
.rev-modal-form textarea:focus ~ .bar:after {
    width: 50%;
}

/*Bootstrap migration styles*/

/*

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*/

.icon-remove{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-remove:before{
    content: "\e014";
}

.icon-plus{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before{
    content: "\002b";
}

.icon-arrow-left{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-left:before {
    content: "\e091";
}

.icon-search{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
    content: "\e003";
}

.icon-ok{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-ok:before {
    content: "\e013";
}

.icon-pencil{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-pencil:before {
    content: "\270f";
}

.icon-trash{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-trash:before {
    content: "\e020";
}

.table>tbody>tr>td:nth-child(2){
    pading-top:8px 0 0 0 !important;
}

.screenshots-help-message .glyphicon-arrow-up{
    right:-77%;
}

.link_text{
    text-decoration: none;
    border-bottom: dashed 1px #08c;
    color: #23527c;
    text-decoration: none;
    cursor: pointer;
}
.link_text:hover{
    text-decoration: none;
    cursor: pointer;
}

.tags-div{
    margin-top:10px;
}