/*store template css*/
html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    margin-left:0!important;
    margin-right:0!important;
}

footer {
    background-color: #E0E0E0;
    margin-top: 128px;
    height: 128px;
}
footer p {
    padding:10px;
}

.wrapper{
    width:auto!important;
    margin:0!important;
    padding:0!important;
    background-color:transparent!important;
}

/*Home Page*/
header.home {
    height:150px;
}
.changeLogWrapper{
    background:white;
}
.versionFooter{
    border-bottom : solid 1px black;
}
header nav {
    margin:0;
}

header h3 {
    display: none;
}

a.register-link {
    float: right;
    margin-right: 0;
    height: 36px;
    line-height: 25px;
    padding: 0 18px;
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .3);
}

a.register-link:hover {
    background-color: transparent !important;
    color:#fff !important;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .3) !important;
}

.jumbotron {
    background-color: transparent !important;
    color:#ffffff !important;
}

.jumbotron h1 {
    font-weight: 400 !important;
    text-shadow: 2px 2px 2px rgba(74, 74, 74, 0.8) !important;
}

.jumbotron a, .jumbotron a:hover{
    background-color: transparent;
    color:#ffffff !important;
    font-weight: 400;
    text-shadow: 2px 2px 2px rgba(74, 74, 74, 0.8);
    text-decoration: none !important;
}

#search i {
    color: #A1A1A1;
    font-size: 22px;
    cursor: pointer;
}

#search .form-control {
    border:0;
    -webkit-box-shadow:inset 0 0 0 rgba(0,0,0,.075);
    box-shadow:inset 0 0 0 rgba(0,0,0,.075);
    font-size:22px
}

.filter-reset-button{
    position: relative;
    top: 10px;
}

/*Buttons*/
.btn-primary {
    background-color: #00A0E3;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing:1px;
    border-radius: 3px;
    border-width: 0;
}

.btn-file{
    margin-left: 20px !important;
}

#howToInstallButton{
    margin-right:20px;
}

#permissionsButton{
    margin-right:20px;
}

/*Module list*/
.media {
    background-color: #FFFFFF;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
    margin-bottom:20px;
}

.media .media-left img {
    max-width:180px;
    margin-top: 27px;
}

.media-left {
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.content {
    /*padding: 25px 45px;*/
    line-height: 27px;
    font-size: 18px;
    font-weight: 400;
    color: #777;
}

.content h4 {
    color: #212121;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 25px;
}
.author {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #616161;
}

.rating {
    color: #737373;
    font-size: 22px;
}
.rating-container .empty-stars{
    color:white !important;
}

.clear-rating{
    display:none;
}

.caption .label{
    display:none;
}

.label {
    border-radius:50px;
    text-transform: uppercase;
}

h3.media-heading {
    color: #212121;
    font-size: 30px;
    font-weight: 300;
}



.affix {
    top: 0;
    width: 100%;
    z-index:999;
}

.affix + header {
    padding-top: 500px;
}


nav ul.pull-right{
    margin-right: 24px;
}

.loginButton{
    background: rgba(255, 255, 255, 0.8) !important;
    color:black;
}


/*Detail View*/
.detail .media {
    height: auto;
}

.forge .media:hover {
    opacity: .8;
    cursor: pointer;
}

#descriptionDiv{
    margin:0 15px;
}

.modal .original_text{
    padding:20px;
}

.modal .modal-title{
    padding:20px;
}

#content .heading {
    margin-top:-100px;
}

#content .detail {
    background-color: #fff;
}

.media-full-width{
    width: 100% !important;
    padding: 10px !important;
    margin: 0px!important;
    min-height: unset!important;
}
.topmargin {
    margin-top:27px;
}
.bottommargin {
    margin-bottom:27px;
}
.dwl {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 3px;
    border-width: 0;
}

.forge{
    margin-top : 20px;
}
.moduleCard .media-left{
    padding-left: 10px;
}
.detail .media-left{
    margin: 27px;
    display: inline-block;
    max-width: 13%;
    max-height:125px;
    width: 13%;
}

.detail {
    /*display: inline-block;
    width: 80%;*/
    height:auto;
}

.detail a.back-link {
    color: #fff;
    height: 74px;
    width: 311px;
    position: absolute;
    padding: 4px 23px;
    top: -21px;
    left: -10px;
    border-radius: 0;
}

.admin-header a.back-link{
    top: -6px;
}

.detail a.back-link:hover{
    background-color:#337ab7;
}

.detail a.back-link:visited, .detail a.back-link:active{
    background-color:transparent;
}

.page-title {
    padding-left: 14px;
    padding-right: 14px;
}

.detail .content{
    width:100%;
    height:auto;
}

.detail .heading{
    min-height: 230px;
    margin-top: 27px;
    padding:0 0 0 15px;
}

.detail .heading .rating{
    margin-bottom: 5px;
}

.detailButton{
    color: #777;
}

.detailButton:hover{
    color: #777;
}

.detailButton:focus{
    color: #777;
}

header.detail{
    z-index: 24;
    background-image: none;
    background-color: #00A0E3;
    font-size: 14px;
    line-height: 64px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    box-shadow: none;
    height:64px;
}

.top-color-sep {
    /*background-color: #00A0E3;*/
    width: 100%;
    height: 192px;
}

.carousel{
    margin-top: 15px;
}

.carousel-indicators{
    z-index:22;
}

.carousel-inner{
    z-index:21;
}

.carousel-link{
    height:225px;
}

.carousel-control{
    background: none!important;
    border: none!important;
    color: black;
    font-weight: bold;
    padding-top: 5.5%;
    font-size: 120px;
    font-weight:bold;
    z-index: 26;
}


.button {
    position: relative;
    display: inline-block;
    padding: 0 24px;
    height: 38px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 38px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    cursor: pointer;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.buttonBlue {
    background: #00A0E3;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.detail .media:first-child {
    margin-top: 30px;
}


.details .openb {
    float: right;
    margin: 14px;
    padding: 0 18px;
    background: #FFFFFF !important;
    height: 36px;
    line-height: 36px;
    color: #00A0E3;
    text-shadow: none;
    box-shadow: none !important;
}

/*Information and editable texts*/

.select2-search-choice-close{
    font-size: 14px !important;
    top: 2px !important;
}




/*Modals Styles*/
.modal{
    height:80%!important;
}
.modal-dialog{
    background-color:#fff;
}

.modal-body{
    overflow-y:auto;
}

.modal-content{
    border: none;
    min-height: 100px;
    box-shadow: 0 0 0 white;
}

/*Video*/
.forgeModuleVideo{
    max-height: 609px;
    padding-top: 200px;
}

.videostreaming img {
    width:100%;
    height:auto;
}

a.video {
    float: left;
    position: relative;
}
a.video span {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../img/play-btn.png") no-repeat;
    background-position: 50% 50%;
    background-size: 300%;
}


/*Icon*/
.icon_overlay{
    top: -135px;
    position: relative;
    display:none;
}


/*Reviews styles*/
.review-container .total-rev .tot-title {
    font-size: 38px;
    color: #333;
    /*font-weight: 400;*/
}

.review-container .total-rev {
    padding: 25px 45px;
    text-align: center;
}

.review-container .total-rev .tot-title {
    font-size: 38px;
    color: #333;
    /*font-weight: 400;*/
}

.review-container .total-rev .tot-stars {
    font-size: 28px;
    color: #FFE400;
    margin-bottom: 5px;
}

.review-container .reviews-stats {
    color: #777;
    /*font-weight: 700;*/
    font-size: 14px;
}

.reviewers-small {
    background-image: url(data:data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAaUlEQVQoz2P4//8/AyWYYXAZAAPl5eUCQLwBiP9DMYgtQIoBC5A0w/ACUgw4gMWAA3Q1IACLAQFEGwA1xACIG6DYACRGqgEOyJgoA6C2bsDifOToNMBnwAc8mmH4Az4D/hODaZeUB8QAAOCAkSuam/byAAAAAElFTkSuQmCC);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    position: relative;
    top: 3px;
    width: 16px;
    margin-left: 2px;
}

.write-review-button-icon{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAcElEQVQY063OwQ3AIAhAUUbqSG7x13AERuwG9FITYlCx1oSb/4GYmZyM/AasHqCAASoiewBQ3riNpgGgApe7wABLAS66O2R9Qb/RIUXEdREQxG1q+zMEJrH6JSGQjUNgJx4B6TgLDOMMMI1D4OscAw/doO0neGauvwAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    margin-top: 4px;
    margin-right: 10px;
    vertical-align: top;
    width: 16px;
}

.review-modal .modal-content{
    overflow-y:auto;
}
.review-modal .modal-header{
    background-color: #00A0E3;
    color: #fff;
    line-height: 120px;
    font-size: 36px;
    text-align: center;
    letter-spacing: 6px;
}

.review-modal .rating-lg{
    margin-top:44px;
}

.review-modal .rating-container .filled-stars{
    -webkit-text-stroke: 0 #fff;
}

.login-modal input, .review-modal-form input, .rev-modal-form textarea {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: transparent;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #cdcdcd;
}

.detail .modal .rating-container{
    padding-top: 45px;
}

.detail #review-modal .modal-dialog{
    max-width: 600px;
    height: 600px;
}

.review-modal .label, .review-modal-form .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}

.review-modal img{
    margin-bottom: 15px;
}


.review-modal button{
    margin-top: 30px;
}

.review-modal .group, .review-modal-form .group {
    position: relative;
    margin-bottom: 45px;
    line-height: normal;
}

.review-modal input, .review-modal-form input, .review-modal-form textarea {
    outline:0;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: transparent;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #cdcdcd;
}


/*FAQ Styles*/
.faqDialog, .howToInstallDialog{
    overflow-y: scroll;
    /*height: 80%;
    width: 60%;*/
}

#faq_editor, #howToInstall_editor{
    height:80%;
}

#review-modal{
    height:90%!important;
}
#faqModal .modal-content, #howToInstallModal .modal-content{
    height: 100%;
}

#faqDiv, .howToInstallDiv, #faqDiv .editable_text, #howToInstallDiv .editable_text, #faqDiv #cke_FAQ_editor, #howToInstallDiv #cke_howToInstall_editor, #faqDiv .cke_inner, #howToInstallDiv .cke_inner{
    height:97%;
    border:none;
    box-shadow: 0 0 0 white;
}

#faqDiv #cke_2_contents, #howToInstallDiv #cke_3_contents{
    height:74% !important;
}

.emptyText{
    margin-top: 25%;
    margin-left: 40%;
}

.ckButtonsDiv{
    margin-left: 43%;
}

/* Underline */


.review-modal .bar {
    position: relative;
    display: block;
    width: 100%;
}

.review-modal-form .bar:before,
.review-modal-form .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #00A0E3;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.review-modal-form .bar:before {
    left: 50%;
}

.review-modal-form .bar:after {
    right: 50%;
}

/*Reviews*/
.review-coments-cont {
    padding: 25px 45px;
}
.review-coments-cont .ac-review {
    width: calc(50% - 72px);
    display: inline-block;
    /*margin-right: 10px;
    margin-left: 10px;*/
    margin-bottom: 20px;
    padding: 25px;
}

.review-coments-cont .ac-review img {
    width: 70px;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: #eee;
    -webkit-box-shadow: 0 1px 1px #8d8d8d;
    box-shadow: 0 1px 1px #8d8d8d;
}

.reviewsAlert{
    margin-top:60px;
}

.userAvatar{
    height:16px;
}

.changeLogDialog{
    /*width: 80%;*/
    height: auto;
    overflow: auto;
}

#changeLogModal iframe{
    width: 100%;
    height: 800px;
    border:none;
}

.permissionsDialog{
    width: 80%;
    height: auto;
    overflow: auto;
}

#permissionsModal iframe{
    width: 100%;
    height: 800px;
    border:none;
}

.versionUploadContainer{
    margin-top: 20px;
}

.editPicturesDialog{
    height: 100%;
    width: 80%;
}

.editPicturesDialog .modal-content, .editPicturesDialog .modal-body{
    height:auto;
    overflow-y:auto;
}

.ac-com-right {
    float: right;
    width: calc(100% - 95px);
}


.ac-com-right .com-name {
    display: inline-block;
    padding-right: 10px;
}

.ac-com-right span {
    font-size: 12px;
    color: #777;
    font-weight: 700;
}

.ac-com-right .com-stars {
    color: #484848;
    padding-bottom: 10px;
}

.ac-com-right .com-title {
    font-weight: 700;
    font-size: 16px;
    color: #333;
}

.ac-com-right .ac-comtxt {
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    color: #777;
    padding-top: 5px;
}

.info-cont-sec {
    font-family: 'Lato', sans-serif;
    line-height: normal;
    min-height: 1000px;
    margin: 0 auto;
    background-color: white;
    border-radius: 3px;
    max-width: 1040px;
    margin-bottom: 100px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: -3px;
    padding-bottom: 50px;
    position: relative;
}

.versionFooter{
    background:none;
    height:auto;
    margin-top:20px;
    padding-bottom:5px;
}

/*More info styles*/
.more-info-container {
    padding: 25px 45px;
}

.meta-info {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 15px 10px 0;
    text-align: left;
    vertical-align: top;
    width: 200px;
    font-family: 'Lato',sans-serif !important;
}

.meta-info.large{
    width: 300px;
}

.meta-info .submit-buttons{
    margin-top:10px;
}

.meta-info .title {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}

h6.title{
    color: #333;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}

.meta-info .content {
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    color: #777;
}

#moduleForgeAdminPanel{
    margin-top:30px;
}

#fullScreenCheckbox{
    margin-left:20px;
}

.forgeSettings{
    margin-top: 60px;
}

.modal-header {
    background-color: white;
    color: rgba(0, 160, 227, 0.1);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 160, 227, 0.55);
    line-height: 120px;
    font-size: 56px;
    text-align: center;
    letter-spacing: 6px;
    border-bottom: 1px solid rgba(0, 160, 227, 0.55);
}

.select2-container-multi{
    width:160px !important;
}

/*Pictures Edition Style*/
.pictureCarousel{
    width: auto;
    height: 225px;
    text-align:center;
}

.pictureCarousel img{
    width: auto;
    height: 225px;
    max-height: 225px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.file_upload iframe, .file_upload button {
    display: inline;
}

.placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}
.grid {
    margin-top: 1em;
}

.moduleScreenshot{
    height:150px;
}

.remove-screenshot:hover{
    text-decoration:none;
}

.fileinput-upload-button{
    margin-right:10px;
}

.file_upload .input-group .form-control{
    width:98%;
}

/*Edit video Styles*/
.videoForm .checkbox{
    margin-left: 19px;
}

#editPicturesButton{
    margin-left: 10px;
}

/*Jeremy Styles */

/* Label */

.login-modal .label,
#reviewForm .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}


/* active */

.login-modal input:focus ~ .label,
.login-modal input.used ~ .label,
#reviewForm input:focus ~ .label,
#reviewForm input.used ~ .label,
#reviewForm textarea:focus ~ .label,
#reviewForm textarea.used ~ .label {
    top: -20px;
    transform: scale(.75);
    left: -4px;
    color: #00A0E3;
}


/* Underline */

.login-modal .bar,
#reviewForm .bar {
    position: relative;
    display: block;
    width: 100%;
}

.login-modal .bar:before,
.login-modal .bar:after,
#reviewForm .bar:before,
#reviewForm .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #00A0E3;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.login-modal .bar:before,
#reviewForm .bar:before {
    left: 50%;
}

.login-modal .bar:after,
#reviewForm .bar:after {
    right: 50%;
}


/* active */

.login-modal input:focus ~ .bar:before,
.login-modal input:focus ~ .bar:after,
.rev-modal-form input:focus ~ .bar:before,
.rev-modal-form input:focus ~ .bar:after,
.rev-modal-form textarea:focus ~ .bar:before,
.rev-modal-form textarea:focus ~ .bar:after {
    width: 50%;
}

/*Bootstrap migration styles*/

/*

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*/

.icon-remove{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-remove:before{
    content: "\e014";
}

.icon-plus{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before{
    content: "\002b";
}

.icon-arrow-left{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-left:before {
    content: "\e091";
}

.icon-search{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
    content: "\e003";
}

.icon-ok{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-ok:before {
    content: "\e013";
}

.icon-pencil{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-pencil:before {
    content: "\270f";
}

.icon-trash{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-trash:before {
    content: "\e020";
}

.table>tbody>tr>td:nth-child(2){
    pading-top:8px 0 0 0 !important;
}

.screenshots-help-message .glyphicon-arrow-up{
    right:-77%;
}

.link_text{
    text-decoration: none;
    border-bottom: dashed 1px #08c;
    color: #23527c;
    text-decoration: none;
    cursor: pointer;
}
.link_text:hover{
    text-decoration: none;
    cursor: pointer;
}

.tags-div{
    margin-top:10px;
}

/*Settings*/
.tabbable.jnt_bootstrapTabularList{
    background: white;
    position: relative;
    top: -100px;
    padding: 0px 20px 20px 20px;
    margin-left: 12%;
    margin-right: 12%;
    min-height: 700px;
}

.box.box-rounded{
    background: white;
    margin-left: 12%;
    margin-right: 12%;
    position: relative;
    top: 0;
    min-height: 700px;
    padding: 20px 20px 20px 20px;
}


/*****************************************
 ******* BOOTSTRAP NAV BAR STYLING *******
 *****************************************/
.navbar-fixed-top {
    background-color: #fff;
    height: 90px;
    padding: 20px 0;
    -webkit-box-shadow: 0 0 0 2px rgba(220, 220, 220, 0.2);
    -moz-box-shadow: 0 0 0 2px rgba(220, 220, 220, 0.2);
    box-shadow: 0 0 0 2px rgba(220, 220, 220, 0.2);
    font-family: 'Lato', sans-serif;
}

.navbar-fixed-top .logo {
    display: block;
    margin-top: -18px;
}

.navbar-toggle .icon-bar {
    background-color: #2d3c57;
}

search.search-bar {
    display: block;
    margin-top: 22px;
    background: #fff;
    height: 50px;
    -webkit-box-shadow: 0 1px 0 1px rgba(220, 220, 220, 0.2);
    -moz-box-shadow: 0 1px 0 1px rgba(220, 220, 220, 0.2);
    box-shadow: 0 1px 0 1px rgba(220, 220, 220, 0.2);
}

.navbar-search {
    margin: 0;
    margin-top: 1px;
}

.navbar-search input {
    background: #fff;
    border: none;
    box-shadow: none;
    text-shadow: none;
    height: 48px;
    outline: none;
}

.navbar-search .form-control:focus {
    border: none;
    box-shadow: none;
    text-shadow: none;
    outline: 0;
}

.navbar-search .input-group-addon {
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 400;
    line-height: 8px;
    color: rgba(0, 0, 0, 0.36);
    text-align: center;
    background-color: transparent;
    border: none;
    padding-right: 4px;
}

.search-bar .container {
    max-width: 1020px;
}

.btn-default.btn-tagsmodal {
    margin-top: 8px;
    margin-left: 32px;
    border-color: #03a9f4;
    color: #1f9fd9;
    padding: 6px 16px;
    outline: none;
}

.btn-tagsmodal.btn-default:hover,
.btn-tagsmodal.btn-default:focus {
    color: #03a9f4;
    background-color: #fafafa;
    border-color: #03a9f4;
    outline: none;
    box-shadow: none;
}

.search-bar .dropdown-toggle {
    color: rgba(0, 0, 0, 0.42);
}

.tag-modal .modal-header {
    padding: 0;
}

.tag-modal .modal-header input {
    height: 48px;
    border: 0;
    box-shadow: none;
    text-shadow: none;
    line-height: 48px;
    padding-left: 16px;
}

.btn.btn-aply-filter {
    border: 1px solid #03A9F4;
    color: #03A9F4;
    background: #fff;
}


/* checkbox (Tags) */

.tag-selector {
    display: inline-block;
    margin: 8px;
    margin-right: 16px;
}

.tag-selector label {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    font: inherit;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    border: 0.125em solid #9e9e9e;
    box-shadow: inset 0 0 0 0 #03A9F4;
    position: relative;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s linear 0.17s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
    transition: box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s linear 0.17s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
    transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s linear 0.17s;
    transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s linear 0.17s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
}

input[type=checkbox]:focus {
    outline: none;
}

input[type=checkbox]:checked {
    border-color: #03A9F4;
    box-shadow: inset 0 0 0 0.5em #03A9F4;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
    transition: box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
    transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s;
    transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
}

input[type=checkbox]:before,
input[type=checkbox]:after {
    content: '';
    background: #fff;
    height: 20px;
    width: 20px;
    position: absolute;
    -webkit-transform: translate(0.2728em, 0.4279em) rotate(44.91deg) scale(0.3411, 0.1);
    transform: translate(0.2728em, 0.4279em) rotate(44.91deg) scale(0.3411, 0.1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
    transition: opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
    transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1);
    transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
    top: -3px;
    left: -3px;
}

input[type=checkbox]:after {
    -webkit-transform: translate(0.8494em, 0.35em) rotate(135.22deg) scale(0.5612, 0.1);
    transform: translate(0.8494em, 0.35em) rotate(135.22deg) scale(0.5612, 0.1);
}

input[type=checkbox]:not(:checked):before {
    -webkit-transform: translate(0.505em, 0.455em) rotate(44.91deg) scale(0.1, 0.1);
    transform: translate(0.505em, 0.455em) rotate(44.91deg) scale(0.1, 0.1);
    /* opacity: 0; */
}

input[type=checkbox]:not(:checked):after {
    -webkit-transform: translate(0.575em, 0.525em) rotate(135.22deg) scale(0.1, 0.1);
    transform: translate(0.575em, 0.525em) rotate(135.22deg) scale(0.1, 0.1);
    /* opacity: 0; */
}

input.fs1 {
    font-size: 20px;
    margin-right: 10px;
    margin-top: -3px;
}

@media only screen and (max-width: 750px) {
    .navbar-search {
        margin-top: -10px;
        width: 70%;
        float: left;
    }
    .search-bar ul.navbar-right {
        width: 30%;
        float: right;
        margin-top: 0;
    }
    .search-bar ul.navbar-right li a.dropdown-toggle {
        display: none;
    }
}

#tag-display {
    list-style: none;
}

#tag-display .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

/*****************************************
 ******* MODULE CSS *******
 *****************************************/

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jps-moduleCard {
    background: white;
    float: left;
    margin: 8px;
    border-radius: 2px;
    /* Set card size */
    width: 100%;
    max-width: 480px;
    padding: 16px;
    border: 1px solid #E0E0E0;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.jps-moduleCard:hover {
    cursor: pointer;
    background: #fafafa
}

.jps-moduleCard .card-topMain {
    /*width: calc(100% - 80px);*/
    margin-left: 64px;
    padding-left: 16px;
    height: 64px;
}

.jps-moduleCard img {
    width: 64px;
    float: left;
}

.jps-moduleCard .card-topMain h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
}

.jps-moduleCard .card-topMain author {
    margin-top: 4px;
    display: inline-block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.47);
    font-weight: 500;
}

.jps-moduleCard .card-topMain author span i {
    font-size: 16px;
    float: right;
    margin-left: 8px;
    color: #03A9F4;
}

.jps-moduleCard .card-desc {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 100%;
    height: 60px;
    /* Fallback for non-webkit */
    font-size: 15px;
    line-height: 1.4;
    padding-top: 10px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Module Page*/

.moduleImage {
    width: 80px;
    float: right;
    margin-top: 20px;
}

.module-section-title h2 {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #03a9f4;
    background: white;
    display: inline-block;
    padding: 2px 6px;
    margin-left: -5px;
}

.module-section-title span {
    border-bottom: 2px dotted #c1dbf3;
    width: 100%;
    display: block;
    margin-top: -17px;
    margin-bottom: 20px;
}

.btn.module-download-btn {
    border: none;
    background: #03a9f4;
    margin: 0 8px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}

.btn.module-download-btn:hover {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.24);
}

.btn.module-download-btn:active,
.btn.module-download-btn:focus {
    background: #039BE5;
    color: #fff;
    outline: none;
}

.more-info-container {
    padding: 24px;
}

.meta-info {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 8px 16px 8px 0;
    text-align: left;
    vertical-align: top;
    width: 100%;
    font-family: 'Lato',sans-serif;
}

.meta-info.large {
    width: calc(40% - 4px);;
}

.meta-info .title {
    color: #333;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 2px;
}

.meta-info .content {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.52);
}

.meta-info .modal-link-text {
    border-bottom: dashed 1px #03A9F4;
    text-decoration: none;
    color: #03A9F4;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    word-spacing: 1px;
    line-height: 24px;
}

.meta-info.large .link {
    text-decoration: none;
    color: #03A9F4;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    word-spacing: 1px;
    line-height: 24px;
}

.module-tag {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffb91e;
    border-radius: 20px;
    border: 2px solid #ffb91e;
    padding: 2px 8px;
    margin: 8px;
    box-sizing: border-box;
}

/*ROW SYSTEM FOR DETAILS*/
.noMargin {
    margin-left: 0;
    margin-right: 0;
}
.fifth {
    width: 20%;
    float: left;
}
@media (max-width: 768px) {
    .fifth {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        min-width:400px;
    }
}

/*SCREEN SHOTS*/
.screenshot-container {
    margin: 8px;
    max-width: calc(25% - 16px);
    float: left;
}

.screenshot-container img {
    width: 100%;
}

img[data-action="zoom"] {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
    position: relative;
    z-index: 666;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
img.zoom-img {
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
}
.zoom-overlay {
    z-index: 420;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    filter: "alpha(opacity=0)";
    opacity: 0;
    -webkit-transition:      opacity 300ms;
    -o-transition:      opacity 300ms;
    transition:      opacity 300ms;
}
.zoom-overlay-open .zoom-overlay {
    filter: "alpha(opacity=100)";
    opacity: 1;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
    cursor: default;
}

/*FOOTER*/
.footer-2 {
    background: #282928;
    font-size: 14px;
    line-height: 1.8;
    color: rgba(255,255,255,0.25);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    position: absolute;
    /*bottom: 0;*/
    min-height: 140px;
    width: 100%;
    margin-top: 20px;
}

.footer-2 .row {
    padding: 40px 0;
}

.footer-2 a, .footer-2 p {
    color: rgba(255,255,255,0.25);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.module-supported {
    color: #03A9F4;
}

.align-right {
    text-align: right !important;
}

.top-5 {
     margin-top: 5px;
 }

.top-10 {
    margin-top: 10px;
}

.top-15 {
    margin-top: 15px;
}
.top-20 {
    margin-top: 20px;
}

.left-5 {
    margin-left: 5px;
}

.left-10 {
    margin-left: 10px;
}

.right-10 {
    margin-right: 10px;
}
.padding-x-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-270 {
    transform: rotate(270deg);
}

.unpublishButton:hover {
    background-color:#f2dede;
}

.publishButton:hover {
    background-color:#dff0d8;
}

.downloadModuleVersionButton:hover {
    background-color: rgba(150, 222, 255, 0.38);
}

.updateReferencesButton:hover {
    background-color: rgba(150, 222, 255, 0.38);
}

.downloadVersion {
    color:#00A0E3;
    margin-top:5px;
    margin-left:1px;
}

.published-tag {
    position:relative;
    bottom:5px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    display:inline !important;
    color: #9fda88;
    border-radius: 20px;
    border: 1px solid #6ed870;
    padding: 2px 8px;

}
.unpublished-tag {
    position: relative;
    bottom:5px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    display:inline !important;
    color: #e27979;
    border-radius: 20px;
    border: 1px solid #d06462;
    padding: 2px 8px;
}

.inline {
    display: inline-block !important;
}

.circleVersionButton {
    height:36px;
    width:36px;
    border:none;
    border-radius: 50%;
}

.squareVersionButton {
    height:35px;
    width:35px;
    border:none;
    border-radius: 25%;
}

/*Prevent blue outline when button is focused*/
.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus,
.btn:active:focus, .btn:focus {
    outline: none;
}

.float-right {
    float:right;
}

.clear-left {
    clear:left;
}

.edit-changelog-icon {
    font-size:18px;
    margin-top:3px;
}

.updateReferences {
    color: #03A9F4;
    margin-top: 1px;
    margin-left: -4px;
}

.module-details-title {
    color: #333;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 2px;
}

.module-details-content {
    line-height: 27px;
    font-size: 12px;
    font-weight: 400;
    color: #777;
}

.module-details {
    margin-left:10px;
}

.module-details-link {
    font-size: 12px;
    border-bottom: dashed 1px #03A9F4;
    text-decoration: none;
    color: #03A9F4;
    cursor: pointer;
    font-weight: 500;
    word-spacing: 1px;
    line-height: 24px;
    white-space: nowrap;
}

.module-details-link:hover, .module-details-link:active, .module-details-link:focus {
    color: #03A9F4;
    text-decoration: none;
}