html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #EEEEEE;
    font-family: 'Lato', sans-serif;
}
header {
    background: url(../img/cover_optimized.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header nav {
    margin:10px
}
header h3 {
    display: none;
}
.jumbotron {
    background-color: transparent;
    color:#ffffff;
}
.jumbotron h1 {
    font-weight: 400;
    text-shadow: 2px 2px 2px rgba(74, 74, 74, 0.8);
}

.jumbotron h1 p{
    font-weight: 400 !important;
    text-shadow: 2px 2px 2px rgba(74, 74, 74, 0.8) !important;
}

.btn-primary {
    background-color: #00A0E3;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing:1px;
    border-radius: 3px;
    border-width: 0;
}
.navbar-default {
    background-color: #ffffff;
}
.media {
    background-color: #FFFFFF;
    height: 180px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
    margin-bottom:20px;
}
.detail .media {
    height: auto;
}
.media .media-left img {
    max-width:180px;
}
.forge .media:hover {
    opacity: .8;
    cursor: pointer;
}
.media-left {
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.media-body {
    padding-top: 14px;
    position: relative;
    /*height: 152px;*/
}
.media-body.content {
    padding: 25px 45px;
    line-height: 27px;
    font-size: 18px;
    font-weight: 400;
    color: #777;
}
.media-body.content h4 {
    color: #212121;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 25px;
}
.media-body .author {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #616161;
}

.media-body .rating {
    color: #737373;
    font-size: 22px;
    position: absolute;
    bottom: 10px;
}
.label {
    border-radius:50px;
    text-transform: uppercase;
}
footer {
    background-color: #E0E0E0;
    margin-top: 128px;
    height: 128px;
}
footer p {
    padding:10px;
}
#search i {
    color: #A1A1A1;
    font-size: 22px;
    cursor: pointer;
}

#search .form-control {
    border:0;
    -webkit-box-shadow:inset 0 0 0 rgba(0,0,0,.075);
    box-shadow:inset 0 0 0 rgba(0,0,0,.075);
    font-size:22px
}
.navbar-default .navbar-nav>li>a.dropdown-toggle {
    font-size: 22px;
    color: #a1a1a1;
    padding-top: 24px;
}
#content.detail {
    margin-top:-100px;
}
.dwl {
    position: absolute;
    right:40px;
    top:40px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing:1px;
    border-radius: 3px;
    border-width: 0;
}
h3.media-heading {
    color: #212121;
    font-size: 30px;
    margin: 20px 36px 12px 0;
    font-weight: 300;
}

.jumbotron {
    background-color: transparent;
    color:#ffffff;
}

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
}

header.detail {
    background-image: none;
    background-color: #00A0E3;
    height:auto;
}